@inherits LayoutComponentBase

<div class="top-row justify-content-end">
    <CultureSelector />
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center md-5">
            <h2 class="header">Northwind</h2>
        </div>
    </div>
    <br/>
    @Body
</div>